# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

### Intellij Patch ###
*.iml
.idea

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
.settings
target
.classpath
.project
.metadata
.springBeans
.factorypath

# Maven #
target/
